@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #1d0e15;
}

html::-webkit-scrollbar-thumb {
  background: #3486FE;
}

body {
  background: #1a1919;
}

section {
  padding: 3rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background: #3486FE;
  color: #fff;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.link-btn:hover {
  background: #fff;
  color: #3486FE;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 2.5rem;
  color: #3486FE;
}

.heading h3 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fff;
}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}


.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #1e90ff;
  color: white;
}

.header-right {
  float: right;
}

.header {
  position: sticky; top: 0;
  z-index: 999;
}




@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
}


.home {
  background: url(../images/home.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 5rem;
}

.logo {
  width: 200px;
  height: auto;
  float: left;
}

.home span {
  font-size: 2.5rem;
  color: #3486FE;
}

.home h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}

.about span {
  font-size: 2.5rem;
  color: #3486FE;
}

.about h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}

.about p {
  font-size: 1.5rem;
  line-height: 2;
  color: #ccc;
}

.about ul {
  list-style: none;
}

.about ul li {
  padding-top: 1.5rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
}

.about ul li i {
  padding-right: 1rem;
  color: #3486FE;
}

.counter {
  background: url(../images/counter-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.counter .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.counter .box-container .box {
  text-align: center;
}

.counter .box-container .box h3 {
  font-size: 5rem;
  color: #3486FE;
}

.counter .box-container .box p {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}

.courses .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.courses .box-container .box {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.courses .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.courses .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courses .box-container .box .content {
  padding: 2rem;
}

.courses .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.courses .box-container .box .content .icons span {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
}

.courses .box-container .box .content .icons span i {
  color: #3486FE;
  padding-right: .5rem;
}

.courses .box-container .box .content h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #fff;
  padding: .5rem 0;
}


.achievement .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.achievement .box-container .box {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.achievement .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.achievement .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.achievement .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.achievement .box-container .box .content {
  padding: 2rem;
}

.achievement .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.achievement .box-container .box .content .icons span {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
}

.achievement .box-container .box .content .icons span i {
  color: #3486FE;
  padding-right: .5rem;
}

.achievement .box-container .box .content h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #fff;
  padding: .5rem 0;
}

.unity span {
  font-size: 2.5rem;
  color: #3486FE;
}

.unity h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}

.unity p {
  padding: 1rem 0;
  font-size: 1.7rem;
  line-height: 2;
  color: #ccc;
}

.unity .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.unity .box-container .box {
  height: 50rem;
  overflow: hidden;
  position: relative;
}

.unity .box-container .box:hover .content {
  left: -100%;
}

.unity .box-container .box:hover .share {
  left: 0;
}

.unity .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.unity .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 1rem 2rem;
}

.unity .box-container .box .content span {
  font-size: 1.7rem;
  color: #3486FE;
}

.unity .box-container .box .content h3 {
  font-size: 2rem;
  color: #000;
}

.unity .box-container .box .share {
  position: absolute;
  bottom: 0;
  left: -100%;
  background: #fff;
  padding: 1.5rem 1rem;
}

.unity .box-container .box .share a {
  font-size: 2rem;
  color: #000;
  margin: 0 1rem;
}

.unity .box-container .box .share a:hover {
  color: #3486FE;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 3rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 3rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home h3 {
    font-size: 3rem;
  }
  .pricing .box-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .pricing .box-container .box:nth-child(2) {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .join h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    color: #000;
    margin: 1rem 2rem;
  }
}



.tes {
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 100px;

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}